In [1]:
import gmaps
import pandas as pd

# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
facilities_df = pd.read_csv("data/cleandata/facilities.csv")
facilities_df.head()

,name1,name2,city,state,zip,latitude,longitude
0,Sheltering Harbour,NaN,Spring,TX,77379,30.031183,-95.489886
1,Cypress Creek Hospital,NaN,Houston,TX,77090,30.024661,-95.444850
2,Intracare North Hospital,NaN,Houston,TX,77090,30.023827,-95.440085
3,Tomball Regional Medical Center,Senior Care Behavioral Health,Tomball,TX,77375,30.087405,-95.623617
4,Unity Childrens Home,Trickey Road Location,Houston,TX,77067,29.956039,-95.445391

In [3]:
location = facilities_df[["latitude", "longitude"]]

In [4]:
figure_layout = {
    'width': '1000px',
    'height': '700px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [ ]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(location)
# Add the layer to the map
fig.add_layer(markers)
fig