In [3]:
import pandas as pd

In [4]:
suicide_us = "suicide-rates-overview-1985-to-2016/master.csv"
suicide_us_df = pd.read_csv(suicide_us)

suicide_us_df.head(200)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
170,Albania,2003,male,35-54 years,28,386196,7.25,Albania2003,NaN,"5,746,945,913",2021,Boomers
171,Albania,2003,male,15-24 years,15,273235,5.49,Albania2003,NaN,"5,746,945,913",2021,Millenials
172,Albania,2003,female,15-24 years,14,283709,4.93,Albania2003,NaN,"5,746,945,913",2021,Millenials
173,Albania,2003,female,55-74 years,9,195699,4.60,Albania2003,NaN,"5,746,945,913",2021,Silent
174,Albania,2003,male,25-34 years,9,205433,4.38,Albania2003,NaN,"5,746,945,913",2021,Generation X
175,Albania,2003,female,25-34 years,9,222941,4.04,Albania2003,NaN,"5,746,945,913",2021,Generation X
176,Albania,2003,female,35-54 years,13,381760,3.41,Albania2003,NaN,"5,746,945,913",2021,Boomers
177,Albania,2003,male,75+ years,1,32667,3.06,Albania2003,NaN,"5,746,945,913",2021,Silent
178,Albania,2003,male,5-14 years,4,313204,1.28,Albania2003,NaN,"5,746,945,913",2021,Millenials
179,Albania,2003,female,5-14 years,0,298477,0.00,Albania2003,NaN,"5,746,945,913",2021,Millenials
180,Albania,2004,male,75+ years,4,35526,11.26,Albania2004,NaN,"7,314,865,176",2544,Silent
181,Albania,2004,male,35-54 years,39,391767,9.95,Albania2004,NaN,"7,314,865,176",2544,Boomers
182,Albania,2004,male,25-34 years,16,203938,7.85,Albania2004,NaN,"7,314,865,176",2544,Generation X
183,Albania,2004,female,15-24 years,20,292268,6.84,Albania2004,NaN,"7,314,865,176",2544,Millenials
184,Albania,2004,male,15-24 years,19,286768,6.63,Albania2004,NaN,"7,314,865,176",2544,Millenials
185,Albania,2004,female,75+ years,3,50970,5.89,Albania2004,NaN,"7,314,865,176",2544,Silent
186,Albania,2004,female,25-34 years,11,222389,4.95,Albania2004,NaN,"7,314,865,176",2544,Generation X
187,Albania,2004,male,55-74 years,10,207202,4.83,Albania2004,NaN,"7,314,865,176",2544,Silent
188,Albania,2004,female,35-54 years,17,391436,4.34,Albania2004,NaN,"7,314,865,176",2544,Boomers
189,Albania,2004,female,55-74 years,3,203841,1.47,Albania2004,NaN,"7,314,865,176",2544,Silent
190,Albania,2004,female,5-14 years,3,286705,1.05,Albania2004,NaN,"7,314,865,176",2544,Millenials
191,Albania,2004,male,5-14 years,1,302181,0.33,Albania2004,NaN,"7,314,865,176",2544,Millenials
192,Albania,2005,female,15-24 years,0,281922,0.00,Albania2005,0.695,"8,158,548,717",2931,Millenials
193,Albania,2005,female,25-34 years,0,190745,0.00,Albania2005,0.695,"8,158,548,717",2931,Generation X
194,Albania,2005,female,35-54 years,0,386513,0.00,Albania2005,0.695,"8,158,548,717",2931,Boomers
195,Albania,2005,female,5-14 years,0,276559,0.00,Albania2005,0.695,"8,158,548,717",2931,Millenials
196,Albania,2005,female,55-74 years,0,210998,0.00,Albania2005,0.695,"8,158,548,717",2931,Silent
197,Albania,2005,female,75+ years,0,53191,0.00,Albania2005,0.695,"8,158,548,717",2931,Silent
198,Albania,2005,male,15-24 years,0,281675,0.00,Albania2005,0.695,"8,158,548,717",2931,Millenials
199,Albania,2005,male,25-34 years,0,177519,0.00,Albania2005,0.695,"8,158,548,717",2931,Generation X

In [5]:
US_data = suicide_us_df [suicide_us_df['country'] == 'United States']
US_data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
26848,United States,1985,male,75+ years,2177,4064000,53.57,United States1985,0.841,"4,346,734,000,000",19693,G.I. Generation
26849,United States,1985,male,55-74 years,5302,17971000,29.50,United States1985,0.841,"4,346,734,000,000",19693,G.I. Generation
26850,United States,1985,male,25-34 years,5134,20986000,24.46,United States1985,0.841,"4,346,734,000,000",19693,Boomers
26851,United States,1985,male,35-54 years,6053,26589000,22.77,United States1985,0.841,"4,346,734,000,000",19693,Silent
26852,United States,1985,male,15-24 years,4267,19962000,21.38,United States1985,0.841,"4,346,734,000,000",19693,Generation X