In [1]:
import pandas as pd 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
internat_read = os.path.join("..", "data", "cleandata", "master.csv")
internat_read_df = pd.read_csv(internat_read)
internat_read_df.info()
internat_read_df.head(2)
# internat_read_df.groupby(["country"]).groups         
# 27820 rows:  101countries; 6agegroups, 2genders, 32yrs (missing years!)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent

In [3]:
# internat_read_df = internat_read_df.drop(["country-year", "HDI for year"], axis=1)
# row_drop = {'Qatar', 'Kazakhstan', 'Malta', 'Suriname', 'Serbia', \
#             'Ukraine', 'Latvia', 'Belarus', 'Kiribati', 'Bahamas', \
#             'Fiji', 'Cabo Verde', 'Kyrgyzstan', 'United Arab Emirates', \
#             'Saint Lucia', 'Russian Federation', 'Paraguay', \
#             'Bosnia and Herzegovina', 'Romania', 'Nicaragua', \
#             'Montenegro', 'Guatemala', 'Dominica', 'Bulgaria', \
#             'Barbados', 'Turkmenistan', 'Trinidad and Tobago', \
#             'Macau', 'Maldives', 'Uruguay', 'Saint Kitts and Nevis', \
#             'Oman', 'Bahrain', 'Puerto Rico', 'Argentina', \
#             'El Salvador', 'Grenada', 'Ecuador', 'Philippines', \
#             'Sri Lanka', 'Antigua and Barbuda', 'Mauritius', \
#             'Mongolia', 'San Marino', 'Azerbaijan', 'Belize', \
#             'Georgia', 'Guyana', 'Cuba', 'Aruba', 'Armenia', \
#             'Saint Vincent and Grenadines', 'Panama', 'Seychelles', \
#             'New Zealand', 'Uzbekistan', 'Cyprus', 'Singapore', \
#             'Thailand', 'Jamaica', 'Albania', 'Croatia', 'Kuwait'}
# internat_read_df = internat_read_df.drop(labels=row_drop, axis=0)
# internat_read_df.head()
# # internat_drop_df = pd.DataFrame(internat_read_df)
# # internat_drop_df.head()

# internat_read_df.head()

In [4]:
internat_drop = internat_read_df.loc[internat_read_df["country"] ==

SyntaxError: unexpected EOF while parsing (<ipython-input-4-ae9befb65e93>, line 1)

In [ ]:
# internat_read_df.info()         # 27820 entries, 12 columns, data types appropriate
# COLS1: country; year; sex; age; suicides_no; population; suicides/100k pop; 
# COLS2: country-year; HDI for year; gdp_for_year ($); gdp_per_capita ($); generation
country_set=set()
year_set=set()
age_set=set()
generation_set=set()
for i in range(len(internat_read_df)):
    country_set.add(internat_read_df.loc[i, "country"])
    year_set.add(internat_read_df.loc[i, "year"])
    age_set.add(internat_read_df.loc[i, "age"])
    generation_set.add(internat_read_df.loc[i, "generation"])
print(country_set)
print(year_set)               ## 1985 - 2016, but missing value after 2014

In [ ]:
# oecd_group = oecd_group.sort_values('Value')
# oecd_group = oecd_group.reset_index()
# oecd_group.head()

In [ ]:
# pie plots to compare male suicides 30yrs apart, and male:female rates.
# labels = {"5-14 years","15-24 years","25-34 years","35-54 years","55-74 years", "75+ years"}
# sizes = [US_data_male_1985.loc[:, "suicides_no"]]
# explode = (0, 0.2, 0, 0, 0, 0)
# labels = [US_data_male_1985.loc[:, "age"]]
# # colors = ["yellow","green","lightblue","orange","red","purple","pink",
# #           "yellowgreen","lightskyblue","lightcoral"]
# colors = ["pink", "lightcoral", "purple", "orange", "red", "lightskyblue" ]
# plt.pie(sizes, explode=explode, labels=labels, colors=colors,
#         autopct="%1.1f%%", shadow=True, startangle=140)
# plt.axis("auto")
# plt.show()

In [ ]:
# US_data = suicide_us_df [suicide_us_df['country'] == 'United States']
# US_data.head(0)                      # 372 rows Ã— 12 columns
# US_data_male = US_data[US_data['sex'] == "male"]
# US_data_female = US_data[US_data['sex'] == "female"]
# US_data_male_1985 = US_data_male[US_data_male['year'] == 1985]
# US_data_male_2015 = US_data_male[US_data_male['year'] == 2015]
# US_data_female_1985 = US_data_female[USJ_data_female['year'] == 1985]
# US_data_female_2015 = US_data_female[US_data_female['year'] == 2015]
# US_data_male_1985