In [1]:
import pandas as pd 
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
internat_read = os.path.join("..", "data", "rawdata", "master.csv")
internat_read_df = pd.read_csv(internat_read)
internat_read_df.info()
internat_read_df.head()
# internat_read_df.groupby(["country"]).groups         
# 27820 rows:  101countries; 6agegroups, 2genders, 32yrs (missing years!)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [8]:
internat_read_df.drop(columns=["country-year", "HDI for year", "generation"])
internat_read_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [12]:
# internat_read_df.info()         # 27820 entries, 12 columns, data types appropriate
# COLS1: country; year; sex; age; suicides_no; population; suicides/100k pop; 
# COLS2: country-year; HDI for year; gdp_for_year ($); gdp_per_capita ($); generation
country_set=set()
year_set=set()
age_set=set()
generation_set=set()
for i in range(len(internat_read_df)):
    country_set.add(internat_read_df.loc[i, "country"])
    year_set.add(internat_read_df.loc[i, "year"])
    age_set.add(internat_read_df.loc[i, "age"])
    generation_set.add(internat_read_df.loc[i, "generation"])
print(country_set)
print(year_set)               ## 1985 - 2016, but missing value after 2014

{'Qatar', 'Sweden', 'Lithuania', 'Republic of Korea', 'Kazakhstan', 'Netherlands', 'Malta', 'Mexico', 'Suriname', 'Serbia', 'Costa Rica', 'Ukraine', 'Israel', 'Spain', 'Norway', 'Colombia', 'Latvia', 'Belarus', 'Kiribati', 'United States', 'Bahamas', 'Fiji', 'South Africa', 'Chile', 'Cabo Verde', 'Iceland', 'Kyrgyzstan', 'United Arab Emirates', 'Saint Lucia', 'Russian Federation', 'Paraguay', 'Bosnia and Herzegovina', 'Romania', 'Nicaragua', 'Montenegro', 'Denmark', 'Australia', 'Guatemala', 'Dominica', 'Austria', 'Bulgaria', 'Barbados', 'Turkmenistan', 'Trinidad and Tobago', 'France', 'Macau', 'Belgium', 'Hungary', 'Maldives', 'Uruguay', 'Saint Kitts and Nevis', 'Oman', 'Bahrain', 'Czech Republic', 'Canada', 'Puerto Rico', 'Argentina', 'Turkey', 'El Salvador', 'Switzerland', 'Grenada', 'Ecuador', 'Philippines', 'Luxembourg', 'Sri Lanka', 'Antigua and Barbuda', 'Mauritius', 'Mongolia', 'Germany', 'San Marino', 'Italy', 'Azerbaijan', 'Ireland', 'Belize', 'Georgia', 'Slovakia', 'Guyana', 'Cuba', 'Aruba', 'Finland', 'United Kingdom', 'Greece', 'Armenia', 'Brazil', 'Saint Vincent and Grenadines', 'Panama', 'Seychelles', 'New Zealand', 'Slovenia', 'Uzbekistan', 'Japan', 'Cyprus', 'Singapore', 'Thailand', 'Jamaica', 'Estonia', 'Poland', 'Albania', 'Portugal', 'Croatia', 'Kuwait'}
{1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016}

In [6]:
# US_data = suicide_us_df [suicide_us_df['country'] == 'United States']
# US_data.head(0)                      # 372 rows Ã— 12 columns
# US_data_male = US_data[US_data['sex'] == "male"]
# US_data_female = US_data[US_data['sex'] == "female"]
# US_data_male_1985 = US_data_male[US_data_male['year'] == 1985]
# US_data_male_2015 = US_data_male[US_data_male['year'] == 2015]
# US_data_female_1985 = US_data_female[USJ_data_female['year'] == 1985]
# US_data_female_2015 = US_data_female[US_data_female['year'] == 2015]
# US_data_male_1985

In [16]:
col_drop = {'Qatar', 'Kazakhstan', 'Malta', 'Suriname', 'Serbia', \
            'Ukraine', 'Latvia', 'Belarus', 'Kiribati', 'Bahamas', \
            'Fiji', 'Cabo Verde', 'Kyrgyzstan', 'United Arab Emirates', \
            'Saint Lucia', 'Russian Federation', 'Paraguay', \
            'Bosnia and Herzegovina', 'Romania', 'Nicaragua', \
            'Montenegro', 'Guatemala', 'Dominica', 'Bulgaria', \
            'Barbados', 'Turkmenistan', 'Trinidad and Tobago', \
            'Macau', 'Maldives', 'Uruguay', 'Saint Kitts and Nevis', \
            'Oman', 'Bahrain', 'Puerto Rico', 'Argentina', \
            'El Salvador', 'Grenada', 'Ecuador', 'Philippines', \
            'Sri Lanka', 'Antigua and Barbuda', 'Mauritius', \
            'Mongolia', 'San Marino', 'Azerbaijan', 'Belize', \
            'Georgia', 'Guyana', 'Cuba', 'Aruba', 'Armenia', \
            'Saint Vincent and Grenadines', 'Panama', 'Seychelles', \
            'New Zealand', 'Uzbekistan', 'Cyprus', 'Singapore', \
            'Thailand', 'Jamaica', 'Albania', 'Croatia', 'Kuwait'}
internat_read_df.drop(columns=col_drop)
internat_read_df.head()
internat_drop_df = pd.DataFrame(internat_read_df)
internat_drop_df.head()

KeyError: "['Russian Federation' 'Qatar' 'Paraguay' 'Bosnia and Herzegovina'\n 'Puerto Rico' 'Romania' 'Cuba' 'Nicaragua' 'Argentina' 'Montenegro'\n 'Aruba' 'El Salvador' 'Guatemala' 'Armenia' 'Kazakhstan' 'Dominica'\n 'Malta' 'Saint Vincent and Grenadines' 'Suriname' 'Grenada' 'Serbia'\n 'Ecuador' 'Bulgaria' 'Ukraine' 'Philippines' 'Panama' 'Seychelles'\n 'New Zealand' 'Barbados' 'Uzbekistan' 'Turkmenistan' 'Singapore' 'Cyprus'\n 'Trinidad and Tobago' 'Sri Lanka' 'Macau' 'Antigua and Barbuda'\n 'Mauritius' 'Thailand' 'Jamaica' 'Mongolia' 'Maldives' 'Latvia' 'Uruguay'\n 'Belarus' 'Saint Kitts and Nevis' 'Oman' 'San Marino' 'Kiribati'\n 'Bahrain' 'Azerbaijan' 'Albania' 'Belize' 'Bahamas' 'Fiji' 'Georgia'\n 'Cabo Verde' 'Croatia' 'Kyrgyzstan' 'Kuwait' 'United Arab Emirates'\n 'Saint Lucia' 'Guyana'] not found in axis"

In [ ]:
# pie plots to compare male suicides 30yrs apart, and male:female rates.
# labels = {"5-14 years","15-24 years","25-34 years","35-54 years","55-74 years", "75+ years"}
# sizes = [US_data_male_1985.loc[:, "suicides_no"]]
# explode = (0, 0.2, 0, 0, 0, 0)
# labels = [US_data_male_1985.loc[:, "age"]]
# # colors = ["yellow","green","lightblue","orange","red","purple","pink",
# #           "yellowgreen","lightskyblue","lightcoral"]
# colors = ["pink", "lightcoral", "purple", "orange", "red", "lightskyblue" ]
# plt.pie(sizes, explode=explode, labels=labels, colors=colors,
#         autopct="%1.1f%%", shadow=True, startangle=140)
# plt.axis("auto")
# plt.show()